# Ignore everything
*

# un-ignore the vitamin4 directory, __MACOSX, and README.md
!vitamin4/
!project1/
!__MACOSX/
!README.md


#unignore all files in project1
!project1/**

# Don't ignore the .gitignore file itself
!.gitignore
!simple_todo_api/
!simple_todo_api/**
!vitamin7/
!vitamin7/**
!apimagination/
!apimagination/**
!vitamin8/
!vitamin8/**